// Latinha da cor Azul - 1
$font-color-blue-hover: #01305F;
$bg-color-blue: #105daa;
$button-color-blue: #9db9d6;
$button-color-blue-hover: #73A1D1;

// Latinha da cor Prata - 2
$font-color-red-hover: #9D3040;
$bg-color-red: #d61b37;
$button-color-red: #ecc8cd;
$button-color-red-hover: #E57788;

// Latinha da cor Preta - 3
$font-color-black-hover: #000;
$bg-color-black: #1F1E1F;
$button-color-black: #e6dde6;
$button-color-black-hover: #818081;